/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 4, 2014, 9:09:24 AM
    Author     : Mekbib
*/

.btn
{
    -fx-font-family: Arial;
    -fx-font-size : 14px;
    -fx-padding : 10px 10px 10px 35px;
    -fx-background-repeat : no-repeat;  
    -fx-background-position : 10px;    
}
.lbl,
.txt,
.combo,
.txta{
    -fx-padding : 5px 15px 5px 5px ;
    -fx-font-size : 16px;
}

.lbl-numbers{
    -fx-font-size  : 18px;
    -fx-font-weight : bold;
    -fx-padding : 5px 0 5px 0;
}

.container{
    -fx-width : 900px;
    -fx-height : 600px;
}

.search-form-container{
    -fx-background-color: #FFF;
}

.button-group{
    -fx-background-color: #EFEFEF;
    -fx-padding : 80px 10px 10px 10px;
}

.action-btn{
    -fx-background-repeat: no-repeat;
    -fx-background-position : 5, center;
    -fx-padding : 5px;
}

.search-btn{
    -fx-background-image: url(images/SEARCH.PNG);
}

.edit-btn{
    -fx-background-image: url(images/edit.png);
}

