.vbox-header-form{
	-fx-padding : 10px;
	-fx-spacing : 20px;
}
.list-vew{
	-fx-fixed-cell-size: 40px;
}
.hbox-row{
	-fx-padding : 10px;
}
.hbox-row-spaced-10{
	-fx-spacing : 10px;
}
.hbox-row-spaced-100{
	-fx-spacing : 100px;
}

.hbox-form-row-sm{
	-fx-spacing : 20px;
}

.hbox-form-col{
	-fx-spacing : 10px;
}